.container {
    width: min(100% 1440px);
    justify-content: space-between;
    margin: auto;


}

.header {
    background-color: #758BFD;
    display: flex;
    justify-content: space-between;
    padding: 57px 98px;
    margin: auto;
    align-items: center;
}

.logo_icon {
    display: flex;
    width: 46px;
    height: 46px;
}

.logo {
    width: 100%;
    height: 100%;
}

.nav {
    width: 393px;
}

.ul {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Ubuntu;
    font-size: 24px;
    line-height: 27.58px;
}

.active {
    color: #133B3A;
}

.inactive {
    color: #DDEAF8;
}

.search {

    display: flex;
    align-items: center;
    border: 3px;
    border-radius: 10px;
    width: calc(222 / 1440 * 100%);
    height: 56px;
    border-style: solid;
    border-color: #FFFFFF;
    justify-content: end;


}

.logo_icon {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 32px;
    height: 32px;
    font-size: 32px;
    margin-right: 8px;


}

i {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
}

.section {
    padding: 94px 98px;
    margin: auto;

}

h2 {
    font-family: Ubuntu;
    font-size: 32px;
    line-height: 36.77px;
    color: #27187F;
}

.div_articles {
    width: min(100% 1244px);
    /* background: red; */
    margin-top: 68px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 51px;
    column-gap: 22px;

}

article {
    width: 400px;
    height: 333px;
    padding: 33px 30px;
    border-radius: 10px;
    background-color: #DDEAF8;
}

.images_2 {
    width: 100%;
    height: 211px;
}

h3 {
    font-family: Ubuntu;
    font-size: 20px;
    line-height: 22.98px;
    color: #133B3A;
    margin-top: 33px;
}

.footer {
    display: flex;
    width: min(100% 1440px);
    background-color: #758BFD;
    margin: auto;
    padding: 75px 98px;
    justify-content: space-between;
}

.soc1 {
    height: 22px;
}

h4 {
    font-family: Century Gothic;
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.soc {
    display: flex;
    width: 114px;
    justify-content: space-between;

}

.ca {
    width: 97px;
    height: 55px;
}

.card {
    display: flex;
    column-gap: 11px;
    flex-wrap: wrap;
}