.container {
    width: min(100% 1440px);

    justify-content: space-between;
    margin: auto;
    background: #000;

}

.header {
    background-color: #758BFD;
    display: flex;
    justify-content: space-between;
    padding: 57px 98px;
    margin: auto;

}

.logo_link {
    vertical-align: middle;
    width: 46px;
    height: 46px;
}

.logo {
    width: 100%;
    height: 100%;
}

.nav {

    /* width: calc(393 /1440 * 100%); */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {

    display: flex;
    align-items: center;
    border: 3px;
    border-radius: 10px;
    width: calc(222 / 1440 * 100%);
    height: 56px;
    border-style: solid;
    border-color: #FFFFFF;
    justify-content: end;


}

.logo_icon {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 32px;
    height: 32px;
    font-size: 32px;

}

i {
    width: 100%;
    height: 100%;
    color: white;
}